.card_board {
  background-color: white;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  div {
    > * {
      margin: 0;
    }
  }

  &:hover {
    background-color: var(--main-color);

    div {
      > * {
        color: white;
      }
    }
  }
}
