<div class="block_titles">
    <h2>Etudiant</h2>
    <p>Etudiant > List etudiants</p>
</div>

<div class="row mt-5 bg-white">
    <div class="col-12 py-4 px-5">
        <h4 class="mb-5">List des étudiants</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>DateN</th>
                    <th>Class</th>
                    <th>Group</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of studentList">
                    <td>{{row.id}}</td>
                    <td>{{row.prenom}}</td>
                    <td>{{row.nom}}</td>
                    <td>{{row.dateN}}</td>
                    <td>{{row.class}}</td>
                    <td>{{row.group}}</td>
                    <td>{{row.genre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>