<div class="block_titles">
    <h2>Tableau de bord</h2>
</div>

<div class="row mt-5">
    <div class="col-md-3 px-4" *ngFor="let card of cardsData;">
        <app-card-board [cardItem]="card"></app-card-board>
    </div>
</div>

<div class="row mt-5 bg-white">
    <div class="col-12 py-4 px-5">
        <h4 class="mb-5">Derniers étudiants inscrits</h4>


        <nz-table #basicTable  [nzBordered]='true' [nzData]="studentList">
            <thead>
              <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>DateN</th>
                <th>Class</th>
                <th>Group</th>
                <th>Genre</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{ data.id }}</td>
                <td>{{ data.prenom }}</td>
                <td>{{ data.nom }}</td>
                <td>{{ data.dateN }}</td>
                <td>{{ data.class }}</td>
                <td>{{ data.group }}</td>
                <td>{{ data.genre }}</td>
              </tr>
            </tbody>
          </nz-table>
    </div>
</div>