.app_layout {
  display: flex;
  background-color: var(--bg-color);
  height: 100vh;
  .app_aside {
    width: 15rem;
    background-color: white;

    .aside_logo {
      padding: 1.5rem;
      img {
        width: 80%;
        margin: 0 auto;
        display: block;
      }
    }
    .app_aside_nav {
      .nav-item {
        .nav-link {
          display: flex;
          align-items: center;
          gap: 1.3rem;
          color: var(--text-color);
          &.active {
            background-color: var(--main-color);
            color: white;

            & + .dropdown_menu {
              display: flex;
            }

            .ico_chevron{
              transform: rotate(180deg);
              -webkit-transform: rotate(180deg);
              -moz-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              -o-transform: rotate(180deg);
}
          }

          .ico_chevron {
            margin-left: auto;
            transition: .3s all;
            -webkit-transition: .3s all;
            -moz-transition: .3s all;
            -ms-transition: .3s all;
            -o-transition: .3s all;
}
        }

        .dropdown_menu {
          display: none;
          flex-direction: column;
          padding-left: 2rem;
          .nav-link{
            
          }
        }
      }
    }
  }
  .app_content {
  }
}
