.app_layout {
  display: flex;
  background-color: var(--bg-color);
  height: 100vh;
  .app_aside {
    width: 15rem;
    background-color: white;

    .aside_logo {
      padding: 1.5rem;
      img {
        width: 80%;
        margin: 0 auto;
        display: block;
      }
    }
    .aside_nav {
      .nav-item {
        .nav-link {
          display: flex;
          align-items: center;
          gap: 1.3rem;
          color: var(--text-color);

          .ico_chevron{
            margin-left: auto;
          }
        }

        &.dropdown_toggle {
          .dropdown_menu {

            display: flex;
            flex-direction: column;
            padding-left: 2rem;
          }
        }
      }
    }
  }
  .app_content {
  }
}
