/* You can add global styles to this file, and also import other style files */

:root {
  --main-color: #8a70d6;
  --error-color: #b71f1f;
  --text-mainColor: #404340;
  --text-grayColor: #aeaeae;
  --bg-color: #f5f6fa;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

// **************** BUTTON ****************
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn--style {
  background-color: var(--main-color);
  color: white;
}

// **************** FONTSIZE ****************

$fontSizes: (
  "smaller": 0.6rem,
  "small": 0.9rem,
  "normal": 1rem,
  "medium": 1.5rem,
  "big": 2rem,
);
