/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";

// **************** GLOBAL **************** 
:root {
  --main-color: #8a70d6;
  --error-color: #b71f1f;
  --text-mainColor: #404340;
  --text-grayColor: #aeaeae;
  --bg-color: #f5f6fa;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.block_titles{
  p{
    color: var(--text-grayColor);
  }
}

// **************** BUTTON ****************
.btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn--style {
  background-color: var(--main-color);
  color: white;
}

// **************** NG ZORRO STYLES *****************

[nz-input]{
  border: 0;
  background-color: var(--bg-color);
  width: 100%;
  display: block;
  padding: .5rem 1rem;
}

.ant-form-item-with-help .ant-form-item-explain {
  margin: 1rem 0;
}

